// =============================================
// scroleyTimeline SCSS
// =============================================


// Variables
// =============================================

$tl-height: 900px;
$tl-thickness: 2px;
$tl-color: #000;
$tl-hover-color: #e11;
$tl-item-width: 868px;
$tl-padding: 32px;
$tl-dot: 8px;

// Timeline
// =============================================
.timeline-container {
  position: relative;
}
// Timeline
// =============================================

#timeline {
  overflow: auto;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }

  .timeline-strip {
    position: relative;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    //make variabes?
    height: $tl-height;
    margin:0 4rem;

    // Timeline - line
    &::before {
      display:block;
      content: "";
      position: absolute;
      width:100%;
      //make variabes?
      height: $tl-thickness;
      background-color: $tl-color;
      z-index: 0;
    }

    // Timeline - end dot
    &::after {
      position: absolute;
      content: "";
      display: block;
      width: $tl-dot;
      height: $tl-dot;
      border-radius: calc(#{$tl-dot} / 2);
      background-color: #000;
      right: -3px;
    }

    // Year blocks
    .tl-year {
      position: relative;
      z-index: 5;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      height: 100%;
      min-width: calc(#{$tl-item-width} + #{$tl-padding});
      //width: 500px;

      &::before {
        position: absolute;
        content: "";
        display: block;
        width: $tl-dot;
        height: $tl-dot;
        border-radius: calc(#{$tl-dot} / 2);
        background-color: #000;
        left: -3px;
      }

      img {
        display: block;
        position: absolute;
        padding: 0 $tl-padding;
        border-left: $tl-thickness solid $tl-color;
      }

      div {
        position: absolute;
        width: 100%;
        border-left: $tl-thickness solid $tl-color;
        box-sizing: border-box;

        h3 {
          margin-top:0;
        }
        p {
          max-width: 500px;
        }
        p:nth-last-of-type(1) {
          margin-bottom: 0;
        }
      }

      &.tl-bottom {
        img {
          bottom: 50%;
          padding-bottom: $tl-padding;
        }
        div {
          top:50%;
          padding: $tl-padding $tl-padding 0;
        }
      }

      &.tl-top {
        img {
          top:50%;
          padding-top: $tl-padding;

        }
        div {
          bottom:50%;
          padding: 0 $tl-padding $tl-padding;
        }
      }

      &.tl-last {
        &::before {
          left: auto;
          right: -3px;
        }

        div {
          border-left: none;
          border-right: $tl-thickness solid $tl-color;
          text-align: right;

          p {
            margin-left: auto;
          }
        }
      }

      //// loop to plot on timeline
      //@for $i from 1 through 20 {
      //  &.p-#{$i} {
      //    margin-left: #{$i}#{'%'};
      //  }
      //}
    }


  }
}

.tl-links {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: auto;
  width: 100%;
  z-index: 20;
  max-width: 90%;

  &::before {
    position: absolute;
    display: block;
    content: "";
    height: $tl-thickness;
    width: 100%;
    background-color: $tl-color;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .bar {
    position: absolute;
    display: block;
    content: "";
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    will-change: transform;
    width: 100%;
    background-color: red;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  a {
    display: inline-block;
    transform: translateY(-4px);
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20px;
    height: 50px;

    // loop to plot on timeline
    @for $i from 1 through 100 {
      &[data-position="#{$i}"] {
        left: #{$i}#{'%'};
      }
    }

    // Dot
    &::before {
      display: block;
      content: "";
      position: absolute;
      background-color: #000;
      width: $tl-dot;
      height: $tl-dot;
      border-radius: calc(#{$tl-dot} / 2);
      transition: all 0.3s ease 0s;
    }

    &.active {
      &::before {
        background-color: $tl-hover-color;
      }
    }
    &::after {
      position: absolute;
      opacity: 0;
      color: #000;
      padding: 4px;
      top: 20px;
      min-width: 100px;
      left: -50px;
      transition: all 0.3s ease 0s;
      content: attr(data-year);
      display: block;
    }

    &:nth-of-type(1) {
      left: 0;
      &::after {
        opacity: 1;
      }
    }

    &:nth-last-of-type(1) {
      right: 0;
      &::after {
        opacity: 1;
      }
    }

    &:hover {
      &::before {
        background-color: $tl-hover-color;
      }
      &::after {
        opacity: 1;
      }
    }
  }
}